<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #canvas-container {
            position: relative;
            display: inline-block;
        }

        #canvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        #canvas, #image {
            width: 800px;
            height: 600px;
        }

        #image {
            position: relative;
            z-index: 0;
        }

        #zone-input {
            margin-top: 10px;
            width: 100%;
        }

        #submit-button {
            margin-top: 10px;
        }

        .contenedor-padre {
	        display: flex;
            justify-content: center;
        }

        .div-centrado {
            display: inline-block;
            margin: 10px;
        }
        .margen-opcion{
        margin-right: 10px;
        margin-left: 10px;
        margin-bot: 10px;
    </style>
</head>
<body class="">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Proyecto IA<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Que hacemos...!</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Tipos de detecciones</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Detección de objetos con webcam</a>
                    <a class="dropdown-item" href="#">Detección de objetos de videos</a>
                    <a class="dropdown-item" href="#">Detección de objetos de imagenes</a>
                  </div>
                </li    >
              </ul>
            </div>
          </nav>
    </header>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
        <h1 class="display-3">Detección de Objetos con Webcam</h1>
        <p>Esta funcion permite la detección de objetos segun la opcion que escoja. Seleccione y rellene todas las opciones y deje que la IA haga el resto</p>
        </div>
    </div>

    <div class="container">
        <div class="contenedor-padre">

            <div class="div-centrado">
                <div class=" card">
                    <div class="card-body">
                        <h4 class="card-title">Selecciona un area a detectar</h4>
                        <p>Puedes seleccionar un area a detectar si lo deseas para que la detección solo se haga en esa area y no en toda la imagen. No es obligatorio marcar esta opción.</p>
                        <div>
                            <div id="coordinates">
                                Punto 1: (<span id="point1-x"></span>, <span id="point1-y"></span>)<br>
                                Punto 2: (<span id="point2-x"></span>, <span id="point2-y"></span>)<br>
                                Punto 3: (<span id="point3-x"></span>, <span id="point3-y"></span>)<br>
                                Punto 4: (<span id="point4-x"></span>, <span id="point4-y"></span>)
                            </div>
                            <input type="text" id="zone-input" disabled>
                            <button id="submit-button" class="btn btn-primary" onclick="updateZone()">Enviar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class=" card">
                    <div class="card-body">
                        <h4 class="card-title">Seleccion de objetos:</h4>
                        <p>Selecciona algun objeto que deseas detectar con la camara, una vez seleccionado la IA empezara a detectar el objeto que seleccionaste y su cantidad. Es obligatorio seleccionar una opcion.</p>
                        <form action="/update_name" method="POST">
                            <label for="selected_name">Seleccione un objeto:</label>
                            <select name="selected_name" class="form-control" id="selected_name">
                                {% for name in objetos %}
                                <option value="{{ name }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <button type="submit" class="btn btn-primary">Enviar selección</button>
                        </form>


                    </div>
                </div>
            </div>
            <div class="div-centrado">
                <h4 class="card-title">Tu webcam</h4>
                <div id="canvas-container">
                    <canvas id="canvas"></canvas>
                    <img id="image" src="{{url_for('video')}}">
                </div>

                <div style="margin-top: 20px">
                    <h4>Opciones</h4>
                    <nav class="nav justify-content-center">
                      <a class="nav-link margen-opcion btn btn-primary" href="{{ url_for('reset_detection') }}">Iniciar Detección de Objetos</a>
                      <a class="nav-link margen-opcion btn btn-warning" href="{{ url_for('stop_detection') }}">Detener Detección de Objetos</a>
                      <a class="nav-link margen-opcion btn btn-success" href="{{ url_for('download_csv') }}">Descargar Reporte </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script>
        // Obtén el lienzo y el contexto
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        var isDrawing = false;
        var points = [];

        // Establece el tamaño del canvas al tamaño de la imagen
        var image = document.getElementById('image');
        canvas.width = image.width;
        canvas.height = image.height;

        // Manejadores de eventos del ratón
        canvas.addEventListener('mousedown', startDrawing);
        canvas.addEventListener('mousemove', draw);
        canvas.addEventListener('mouseup', endDrawing);
        canvas.addEventListener('mouseleave', endDrawing);

        function startDrawing(e) {
            isDrawing = true;
            points.push({ x: e.offsetX, y: e.offsetY });
        }

        function draw(e) {
            if (!isDrawing) return;
            points[points.length - 1] = { x: e.offsetX, y: e.offsetY };
            drawArea();
            updateCoordinates();
            updateZoneInput();
        }

        function endDrawing() {
            if (!isDrawing) return;
            isDrawing = false;
            drawArea();
            updateCoordinates();
            updateZoneInput();
        }

        // Función para dibujar el área en el lienzo
        function drawArea() {
            // Limpia el lienzo
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // Dibuja el área
            if (points.length >= 2) {
                ctx.strokeStyle = 'red';
                ctx.lineWidth = 2;
                ctx.beginPath();
                ctx.moveTo(points[0].x, points[0].y);
                for (var i = 1; i < points.length; i++) {
                    ctx.lineTo(points[i].x, points[i].y);
                }
                ctx.closePath();
                ctx.stroke();
            }
        }

        // Función para actualizar las coordenadas
        function updateCoordinates() {
            var point1Label = document.getElementById('point1-x');
            var point2Label = document.getElementById('point2-x');
            var point3Label = document.getElementById('point3-x');
            var point4Label = document.getElementById('point4-x');
            var point1YLabel = document.getElementById('point1-y');
            var point2YLabel = document.getElementById('point2-y');
            var point3YLabel = document.getElementById('point3-y');
            var point4YLabel = document.getElementById('point4-y');

            if (points.length >= 1) {
                point1Label.textContent = points[0].x;
                point1YLabel.textContent = points[0].y;
            }
            if (points.length >= 2) {
                point2Label.textContent = points[1].x;
                point2YLabel.textContent = points[1].y;
            }
            if (points.length >= 3) {
                point3Label.textContent = points[2].x;
                point3YLabel.textContent = points[2].y;
            }
            if (points.length >= 4) {
                point4Label.textContent = points[3].x;
                point4YLabel.textContent = points[3].y;
            }
        }

        // Función para actualizar el campo de entrada de la zona
        function updateZoneInput() {
            var zoneInput = document.getElementById('zone-input');
            var zone = '';
            for (var i = 0; i < points.length; i++) {
                zone += points[i].x + ',' + points[i].y;
                if (i !== points.length - 1) {
                    zone += ',';
                }
            }
            zoneInput.value = zone;
        }

        // Función para enviar los datos del campo de entrada
        function updateZone() {
            var zoneInput = document.getElementById('zone-input');
            var zone = zoneInput.value;

            // Enviar los datos al servidor utilizando AJAX o cualquier otro método
            // Ejemplo de código AJAX:
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/update_zone', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send('zone=' + encodeURIComponent(zone));

            // Lógica adicional después de enviar los datos si es necesario
        }

         function updateSelection() {
            var selectedName = document.getElementById('nameSelect').value;
            fetch('/update_name', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'selected_name=' + encodeURIComponent(selectedName)
            })
            .then(function(response) {
                if (response.ok) {
                    location.reload();  // Actualizar la página
                } else {
                    console.log('Error al enviar la selección al servidor');
                }
            })
            .catch(function(error) {
                console.log('Error al enviar la selección al servidor:', error);
            });
        }
        $(document).ready(function() {
            $('#stopDetectionBtn').click(function() {
              $.ajax({
                type: 'POST',
                url: '/stop_detection',
                success: function(response) {
                  // Actualizar el contenido en la página sin recargarla
                  $('#stopDetectionBtn').prop('disabled', true);
                  $('#startDetectionBtn').prop('disabled', false);
                  $('#detectionStatus').text('Detección detenida');
                }
              });
            });
        });
    </script>
</body>
</html>
